
@media (min-width: 700px) {
	div.grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}
@media (min-width: 800px) {
	div.grid {
		grid-template-columns: 1fr 3fr;
	}
}
@media (min-width: 900px) {
	div.grid {
		grid-template-columns: 1fr 4fr;
	}
}

main {
	max-width: 800px;
}

pre, .example {
	border: 1px solid black;
	padding: 0.5rem;
	background-color: #ddd;
}
pre {
	max-width: 100%;
	overflow-x: auto;
	tab-size: 2;
}

div.form-field {
	padding: 0.5rem;
}

.bg {
	background-color: black;
	color: whitesmoke;
	display: inline-block;
	padding: 0.5rem 1rem;
}
.red {
	color: red;
}
.green {
	color: green;
}
.blue {
	color: blue;
}

.bg.red {
	background-color: pink;
}
.bg.green {
	background-color: lightgreen;
}
.bg.blue {
	background-color: skyblue;
}