div {
	margin: 1rem 0;
	padding-bottom: 1rem;
	border-bottom: 1px solid #ccc;
}
div div {
	margin: 0.5rem 0;
	padding-bottom: 0;
	border: 0;
}
.red, .blue, .green {
	display: inline-block;
	padding: 0.5rem;
	color: white;
	font-weight: bold;
}
.red {
	background-color: red;
}
.blue {
	background-color: blue;
}
.green {
	background-color: green;
}