.red, .blue, .green {
	display: inline-block;
	padding: 0.5rem;
	color: white;
	font-weight: bold;
}
.red {
	background-color: red;
}
.blue {
	background-color: blue;
}
.green {
	background-color: green;
}